$theme-green: #00ba31;
$theme-dark: rgb(19, 19, 19);
$theme-grey: #ededed;

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote::before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover,
.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus)::first-letter,
.wp-block-button.is-style-outline,
a {
  color: $theme-green !important;
  text-decoration: none;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-size: 16px;
}

.medarbejdere {
  .afdeling-title {
    background-color: $theme-green;
    height: 100%;
    color: #fff;
  }
  .medarbejder-content {
    position: relative;
    height: 100%;
    .medarbejder-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
      background: rgb(0, 0, 0);
      background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
      padding: 10px 20% 10px 10px;

      h3 {
        font-weight: 700;
        margin-bottom: 0;
      }

      .phone {
        display: none;
      }
    }
    .info-visibility {
      width: 15px;
      height: auto;
      position: absolute;
      bottom: 15px;
      right: 20px;
      opacity: 0.5;
      .hide-info {
        display: none;
      }
    }
  }
}

.tilbud {
  .product {
    h2 {
      font-weight: 700;
    }
    button {
      background-color: $theme-dark;
    }
    .regular-price {
      text-decoration: line-through;
      color: rgb(239, 57, 57);
    }
  }
}

.product-content {
  h1 {
    font-size: 40px;
  }
  .info {
    background-color: $theme-grey;
    height: 100%;
  }
  .single-price {
    display: flex;
    background-color: #fff8f2;
    justify-content: space-between;
    padding: 20px 10px;
    margin: 8px 0 8px 0;
    p {
      margin-bottom: 0;
      font-weight: 600;
    }
    .price-number {
      display: flex;
      .old-price {
        margin-right: 20px;
        text-decoration: line-through;
        opacity: 0.6;
        font-weight: 400 !important;
      }
    }
  }
  button {
    background-color: $theme-green;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .product-content {
    h1 {
      font-size: 30px;
    }
  }
}

.message {
  .quote-message {
    background-color: $theme-green;
    color: #fff;
    p {
      margin-bottom: 0;
    }
  }
}
